<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CsWinRT" version="1.1.0" targetFramework="native" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="native" />
  <package id="MSTest.TestFramework" version="asdf" targetFramework="native" />
</packages>
