<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200703.9" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.200519.2" targetFramework="native" />
  <package id="Taef.Redist.Wlk" version="10.52.200221001" targetFramework="native" />
  <package id="Taef.TestAdapter" version="10.57.201103002-develop" targetFramework="native" />
  <package id="CompInproc.amd64fre" version="10.0.21299.1003-210127-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
  <package id="CompInproc.arm64fre" version="10.0.21299.1003-210127-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
  <package id="CompInproc.x86fre" version="10.0.21299.1003-210127-1000.rs-wdx-dxp-ixp1" targetFramework="native" />
</packages>